interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <get_usertag xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>debian-python@lists.debian.org</arg0></get_usertag>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_usertag"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachens="http://xml.apache.org/xml-soap"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_usertagResponse
        xmlns="Debbugs/SOAP/"><s-gensym3 xsi:type="apachens:Map"><item><key xsi:type="xsd:string">dhpython-deprecation</key><value
        soapenc:arrayType="xsd:int[15]" xsi:type="soapenc:Array"><item xsi:type="xsd:int">715295</item><item
        xsi:type="xsd:int">715296</item><item xsi:type="xsd:int">715297</item><item
        xsi:type="xsd:int">715298</item><item xsi:type="xsd:int">715299</item><item
        xsi:type="xsd:int">715300</item><item xsi:type="xsd:int">715301</item><item
        xsi:type="xsd:int">715302</item><item xsi:type="xsd:int">715303</item><item
        xsi:type="xsd:int">715304</item><item xsi:type="xsd:int">715305</item><item
        xsi:type="xsd:int">715306</item><item xsi:type="xsd:int">715307</item><item
        xsi:type="xsd:int">715308</item><item xsi:type="xsd:int">715309</item></value></item><item><key
        xsi:type="xsd:string">dist-packages</key><value soapenc:arrayType="xsd:int[87]"
        xsi:type="soapenc:Array"><item xsi:type="xsd:int">530526</item><item xsi:type="xsd:int">547809</item><item
        xsi:type="xsd:int">547810</item><item xsi:type="xsd:int">547811</item><item
        xsi:type="xsd:int">547812</item><item xsi:type="xsd:int">547813</item><item
        xsi:type="xsd:int">547814</item><item xsi:type="xsd:int">547815</item><item
        xsi:type="xsd:int">547816</item><item xsi:type="xsd:int">547817</item><item
        xsi:type=[...]
