interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <get_bug_log xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>582010</arg0></get_bug_log>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_bug_log"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope\
        \ soap:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:soap=\"\
        http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        ><soap:Body><get_bug_logResponse xmlns=\"Debbugs/SOAP/\"><soapenc:Array soapenc:arrayType=\"\
        xsd:anyType[3]\" xsi:type=\"soapenc:Array\"><item><body xsi:type=\"xsd:base64Binary\"\
        >UGFja2FnZTogZnRwLmRlYmlhbi5vcmcKU2V2ZXJpdHk6IG5vcm1hbAoKbW9ibGluIGlzIGdvaW5nIHRvIGJlIG1lZWdvIGluIHRoZSBmdXR1cmUuClRoaXMgcGFja2FnZSBsb3N0cyBpdHMgdXBzdHJlYW0gYW5kIHNvdXJjZSByZXBvLgpUaHVzIEkgcmVxdWVzdCB0byByZW1vdmUgdGhpcyBwYWNrYWdlLgpTb3JyeSB0byBpbnRyb2R1Y2UgdGhpcyBwYWNrYWdlIGluLgoKTWFueSBUaGFua3MsClBhdWwKCi0tIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICBQYXVsTGl1KOWKieepjumnvykKRS1tYWlsIGFkZHJlc3M6IHBhdWxsaXVAZGViaWFuLm9yZwoKCgoK</body><attachments\
        \ soapenc:arrayType=\"xsd:anyType[0]\" xsi:type=\"soapenc:Array\" /><header\
        \ xsi:type=\"xsd:string\">Received: (at submit) by bugs.debian.org; 17 May\
        \ 2010 16:24:09 +0000\nFrom grandpaul@gmail.com Mon May 17 16:24:09 2010\n\
        X-Spam-Checker-Version: SpamAssassin 3.2.5-bugs.debian.org_2005_01_02\n\t\
        (2008-06-10) on busoni.debian.org\nX-Spam-Level: \nX-Spam-Bayes: score:0.0000\
        \ Tokens: new, 6; hammy, 97; neutral, 36; spammy, 2.\n\tspammytokens:0.871-+--e-mail,\
        \ 0.862-+--email\n\thammytokens:0.000-+--ftpdebianorg, 0.000-+--UD:ftp.debian.org,\n\
        \t0.000-+--ftp.debian.org, 0.000-+--H*c:sk:HnigHHH,\n\t0.000-+--HX-Enigmail-Version:0.95.0\n\
        X-Spam-Status: No, score=-12.8 required=4.0 tests=AWL,BAYES_00,HAS_PACKAGE,\n\
        \tPGPSIGNATURE,SPF_PASS autolearn=ham version=3.2.5-bugs.debian.org_2005_01_02\n\
        Return-path: &lt;grandpaul@gmail.com&gt;\nReceived: from mail-ww0-f52.google.com\
        \ ([74.125.82.52])\n\tby busoni.debian.org with esmtp (Exim 4.69)\n\t(envelope-from\
        \ &lt;grandpaul@gmail.com&gt;)\n\tid 1OE36v-00032k-GZ\n\tfor submit@bugs.debian.org;\
        \ Mon, 17 May 2010 16:24:09 +0000\nReceived: by wwb18 with SMTP id 18so333324wwb.11\n\
        \        for &lt;submit@bugs.debian.org&gt;; Mon, 17 May 2010 09:24:00 -0700\
        \ (PDT)\nDKIM-Signature: v=1; a=rsa-sha256; c=relaxed/[...]
