interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    \n<get_status><arg0 soapenc:arrayType=\"xsd:int[1]\" xmlns:soapenc=\"\
      http://schemas.xmlsoap.org/soap/encoding/\" xsi:type=\"soapenc:Array\"><item\
      \ xsi:type=\"xsd:int\">486212</item></arg0></get_status></soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_status"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachens="http://xml.apache.org/xml-soap"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_statusResponse
        xmlns="Debbugs/SOAP"><s-gensym3 xsi:type="apachens:Map"><item><key xsi:type="xsd:int">486212</key><value><unarchived
        xsi:type="xsd:string" /><fixed_date soapenc:arrayType="xsd:anyType[0]" xsi:type="soapenc:Array"
        /><subject xsi:type="xsd:string">[reportbug-ng] segmentation fault on sorting
        for last action</subject><blockedby xsi:type="xsd:string" /><fixed xsi:type="apachens:Map"><item><key
        xsi:type="xsd:string">reportbug-ng/1.0</key><value xsi:nil="true" /></item></fixed><pending
        xsi:type="xsd:string">done</pending><owner xsi:type="xsd:string" /><location
        xsi:type="xsd:string">archive</location><forwarded xsi:type="xsd:string" /><msgid
        xsi:type="xsd:string">&lt;20080614122738.9e8c25cf.riccardo@datahost.it&gt;</msgid><severity
        xsi:type="xsd:string">normal</severity><keywords xsi:type="xsd:string">help</keywords><found_versions
        soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><item xsi:type="xsd:string">reportbug-ng/0.2008.06.04</item></found_versions><done
        xsi:type="xsd:string">Bastian Venthur &lt;venthur@debian.org&gt;</done><found
        xsi:type="apachens:Map"><item><key xsi:type="xsd:string">reportbug-ng/0.2008.06.04</key><value
        xsi:nil="true" /></item></found><found_date soapenc:arrayType="xsd:anyType[0]"
        xsi:type="soapenc:Array" /><mergedwith xsi:type="xsd:string">486743 488122</mergedwith><package
        xsi:type="xsd:string">reportbug-ng</package><log_modified xsi:type="xsd:int">1218957982</log_modified><blocks
        xsi:type="xsd:string" /><last_modified xsi:type="xsd:int">1218957982</last_modified><date
        xsi:type="xsd:int">1213439402</date><summary xsi:type="xsd:string" /><tags
        xsi:type="xsd:string">help</tags><affects xsi:type="xsd:string" /><id xsi:type="xsd:int">486212</id><outlook
        xsi:type="xsd:string" /><source xsi:type="xsd:string">reportbug-ng</source><originator
        xsi:type="xsd:string">Riccardo Magliocchetti &lt;riccardo@datahost.it&gt;</originator><bug_num
        xsi:type="xsd:int">486212</bug_num><archived xsi:type="xsd:int">1</archived><fixed_versions
        soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><item xsi:type="xsd:string">reportbug-ng/1.0</item></fixed_versions></value></item></s-gensym3></get_statusResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
[...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    \n<get_status><arg0 soapenc:arrayType=\"xsd:int[1]\" xmlns:soapenc=\"\
      http://schemas.xmlsoap.org/soap/encoding/\" xsi:type=\"soapenc:Array\"><item\
      \ xsi:type=\"xsd:int\">474955</item></arg0></get_status></soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_status"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachens="http://xml.apache.org/xml-soap"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_statusResponse
        xmlns="Debbugs/SOAP"><s-gensym3 xsi:type="apachens:Map"><item><key xsi:type="xsd:int">474955</key><value><last_modified
        xsi:type="xsd:int">1241940747</last_modified><fixed_versions soapenc:arrayType="xsd:anyType[0]"
        xsi:type="soapenc:Array" /><found xsi:type="apachens:Map"><item><key xsi:type="xsd:string">reportbug-ng/0.2008.03.28</key><value
        xsi:nil="true" /></item></found><package xsi:type="xsd:string">reportbug-ng</package><summary
        xsi:type="xsd:string" /><fixed_date soapenc:arrayType="xsd:anyType[0]" xsi:type="soapenc:Array"
        /><owner xsi:type="xsd:string" /><severity xsi:type="xsd:string">normal</severity><log_modified
        xsi:type="xsd:int">1241940747</log_modified><blocks xsi:type="xsd:string"
        /><outlook xsi:type="xsd:string" /><subject xsi:type="xsd:string">[reportbug-ng]
        No feedback (just on command line) when unsupported encoded character is given
        in summary</subject><bug_num xsi:type="xsd:int">474955</bug_num><unarchived
        xsi:type="xsd:string" /><keywords xsi:type="xsd:string" /><id xsi:type="xsd:int">474955</id><found_date
        soapenc:arrayType="xsd:anyType[0]" xsi:type="soapenc:Array" /><tags xsi:type="xsd:string"
        /><source xsi:type="xsd:string">reportbug-ng</source><fixed /><found_versions
        soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><item xsi:type="xsd:string">reportbug-ng/0.2008.03.28</item></found_versions><forwarded
        xsi:type="xsd:string" /><date xsi:type="xsd:int">1207638721</date><pending
        xsi:type="xsd:string">done</pending><msgid xsi:type="xsd:string">&lt;1207638677.3360.6.camel@mattotaupa.wohnung.familie-menzel.net&gt;</msgid><blockedby
        xsi:type="xsd:string" /><done xsi:type="xsd:string">Bastian Venthur &lt;venthur@debian.org&gt;</done><originator
        xsi:type="xsd:string">Paul Menzel &lt;pm.debian@googlemail.com&gt;</originator><location
        xsi:type="xsd:string">archive</location><mergedwith xsi:type="xsd:string"
        /><archived xsi:type="xsd:int">1</archived><affects xsi:type="xsd:string"
        /></value></item></s-gensym3></get_statusResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
version: 1
