interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <get_bug_log xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>578363</arg0></get_bug_log>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_bug_log"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope\
        \ soap:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:soap=\"\
        http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        ><soap:Body><get_bug_logResponse xmlns=\"Debbugs/SOAP/\"><soapenc:Array soapenc:arrayType=\"\
        xsd:anyType[3]\" xsi:type=\"soapenc:Array\"><item><attachments soapenc:arrayType=\"\
        xsd:anyType[0]\" xsi:type=\"soapenc:Array\" /><body xsi:type=\"xsd:base64Binary\"\
        >UGFja2FnZTogZnRwLmRlYmlhbi5vcmcKU2V2ZXJpdHk6IG5vcm1hbAoKCkhpLAoKU2FkbHkgZ3FjYW0gaXMgbm93IGxvbmdlciBkZXZlbG9wZWQgYW5kIGl0J3MgZGVwZW5kZW5jaWVzIG9uIEdUSyAxLjIgYW5kCm9sZCBWNEwgbWFrZXMgaXQgdW5zdWl0YWJsZSBmb3Igc3F1ZWV6ZS4gUGxlYXNlIHJlbW92ZSBpdCBmcm9tIHRoZQphcmNoaXZlLgoKVGhhbmtzLgoKQWxiZXJ0bwoKLS0gCkFsYmVydG8gR29uemFsZXogSW5pZXN0YSAgICB8IEZvcm1hY2nDs24sIGNvbnN1bHRvcsOtYSB5IHNvcG9ydGUgdMOpY25pY28KYWdpQChpbml0dGFiLm9yZ3xkZWJpYW4ub3JnKXwgZW4gR05VL0xpbnV4IHkgc29mdHdhcmUgbGlicmUKRW5jcnlwdGVkIG1haWwgcHJlZmVycmVkICAgIHwgaHR0cDovL2luaXR0YWIuY29tCgpLZXkgZmluZ2VycHJpbnQgPSA5NzgyIDA0RTcgMkI3NSA0MDVDIEY1RTkgIDBDODEgQzUxNCBBRjhFIDRCQTQgMDFDMwoKCg==</body><header\
        \ xsi:type=\"xsd:string\">Received: (at submit) by bugs.debian.org; 19 Apr\
        \ 2010 10:15:39 +0000\nFrom agi@inittab.org Mon Apr 19 10:15:39 2010\nX-Spam-Checker-Version:\
        \ SpamAssassin 3.2.5-bugs.debian.org_2005_01_02\n\t(2008-06-10) on busoni.debian.org\n\
        X-Spam-Level: \nX-Spam-Bayes: score:0.0000 Tokens: new, 8; hammy, 119; neutral,\
        \ 37; spammy, 0.\n\tspammytokens: hammytokens:0.000-+--ftpdebianorg, 0.000-+--ftp.debian.org,\n\
        \t0.000-+--UD:ftp.debian.org, 0.000-+--Severity, 0.000-+--H*u:1.5.20\nX-Spam-Status:\
        \ No, score=-10.0 required=4.0 tests=BAYES_00,HAS_PACKAGE,\n\tSPF_PASS autolearn=ham\
        \ version=3.2.5-bugs.debian.org_2005_01_02\nReturn-path: &lt;agi@inittab.org&gt;\n\
        Received: from pancho.name ([92.48.73.7])\n\tby busoni.debian.org with esmtp\
        \ (Exim 4.69)\n\t(envelope-from &lt;agi@inittab.org&gt;)\n\tid 1O3o0w-0007UK-21\n\
        \tfor submit@bugs.debian.org; Mon, 19 Apr 2010 10:15:39 +0000\nReceived: from\
        \ lib.inittab.org (unknown [10.8.0.30])\n\tby pancho.name (Postfix) with ESMTP\
        \ id E150260469\n\tfor &lt;submit@bugs.debian.org&gt;; Mon, 19 Apr 2010 12:06:49\
        \ +0200 (CEST)\nReceived: by lib.inittab.org (Postfix, from userid 1000)\n\
        \tid B8044451CC; Mon, 19 Apr 2010 12:07:07 +0200 (CEST)\nDate: Mon, 19 Apr\
        \ 2010 12:07:07 +0200\nFrom: Alberto Gonzalez Iniesta &lt;agi@inittab.org&gt;\n\
        To: submit@bugs.debian.org\nSubject: RM: gqcam -- ROM; dead upstream, depends\
        \ on GTK 1.2\nMessage-ID: &lt;20100419100707.GI2336@lib.inittab.org&gt;\n\
        MIME-Version: 1.0\nContent-Type: text/plain; charset=iso-8859-1\nContent-Disposition:\
        \ inline\nUser-Agent: Mutt/1.5.20 (2009-06-14)\nContent-Transfer-Encoding:\
        \ quoted-printable\nX-Greylist: delayed 506 seconds by postgrey-1.31 at busoni;\
        \ Mon, 19 Apr 2010 10:15:37 UTC\nDelivered-To: submit@bugs.debian.org</header><msg_num\
        \ xsi:type=\"xsd:int\">5</msg_num></item><item><header xsi:type=\"xsd:string\"\
        >Received: (at 578363-close) by bugs.debian.org; 19 Apr 2010 10:48:18 +0000\n\
        From envelope@ftp-master.debian.org Mon Apr 19 10:48:18 2010\nX-Spam-Checker-Version:\
        \ SpamAssassin 3.2.5-bugs.debian.org_2005_01_02\n\t(2008-06-10) on busoni.debian.org\n\
        X-Spam-Level: \nX-Spam-Bayes: score:0.0000 Tokens: new, 18; hammy, 151; neutral,\
        \ 79; spammy,\n\t0. spammytokens: hammytokens:0.000-+--HX-Debian:DAK,\n\t\
        0.000-+--H*RU:128.148.34.103, 0.000-+--H*rp:D*ftp-master.debian.org,\n\t0.000-+--HX-DAK:dak,\
        \ 0.000-+--HX-Spam-Relays-External:ries.debian.org\nX-Spam-Status: No, score=-7.6\
        \ required=4.0 tests=AWL,BAYES_00,HAS_BUG_NUMBER\n\tautolearn=ham version=3.2.5-bugs.debian.org_2005_01_02\n\
        Return-path: &lt;envelope@ftp-master.debian.org&gt;\nReceived: from ries.debian.org\
        \ ([128.148.34.103])\n\tfrom C=NA,ST=NA,L=Ankh Morpork,O=Debian SMTP,OU=Debian\
        \ SMTP CA,CN=ries.debian.org,EMAIL=hostmaster@ries.debian.org (verified)\n\
        \tby busoni.debian.org with esmtps (TLS1.0:RSA_AES_256_CBC_SHA1:32)\n\t(Exim\
        \ 4.69)\n\t(envelope-from &lt;envelope@ftp-master.debian.org&gt;)\n\tid 1O3oWY-0004bU-4G\n\
        \tfor 578363-close@bugs.debian.org; Mon, 19 Apr 2010 10:48:18 +0000\nReceived:\
        \ from tolimar by ries.debian.org with local (Exim 4.69)\n\t(envelope-from\
        \ &lt;envelope@ftp-master.debian.org&gt;)\n\tid 1O3oWW-0003fR-EV; Mon, 19\
        \ Apr 2010 10:48:16 +0000\nFrom: Debian Archive Maintenance &lt;ftpmaster@ftp-master.debian.org&gt;\n\
        To: 578363-close@bugs.debian.org\nX-DAK: dak rm\nCc: gqcam@packages.debian.org,\
        \ gqcam@packages.qa.debian.org \nX-Debian: DAK\nMIME-Version: 1.0\nContent-Type:\
        \ text/plain; charset=\"utf-8\"\nContent-Transfer-Encoding: 8bit\nSubject:\
        \ Bug#578363: Removed package(s) from unstable\nMessage-Id: &lt;E1O3oWW-0003fR-EV@ries.debian.org&gt;\n\
        Sender: Alexander Reichle-Schmehl &lt;tolimar@ries.debian.org&gt;\nDate: Mon,\
        \ 19 Apr 2010 10:48:16 +0000</header><body xsi:type=\"xsd:string\">We believe\
        \ that the bug you reported is now fixed; the following\npackage(s) have been\
        \ removed from unstable:\n\n     gqcam |    0.9.1-6 | source, alpha, amd64,\
        \ armel, hppa, i386, ia64, mips, mipsel, powerpc, s390, sparc\n\n-------------------\
        \ Reason -------------------\nROM; dead upstream, depends on GTK 1.[...]
[...]
