interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <get_bug_log xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>400000</arg0></get_bug_log>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_bug_log"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope\
        \ soap:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:soap=\"\
        http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        ><soap:Body><get_bug_logResponse xmlns=\"Debbugs/SOAP/\"><soapenc:Array soapenc:arrayType=\"\
        xsd:anyType[4]\" xsi:type=\"soapenc:Array\"><item><header xsi:type=\"xsd:string\"\
        >Received: (at submit) by bugs.debian.org; 23 Nov 2006 11:42:33 +0000\nFrom\
        \ bubulle@debian.org Thu Nov 23 03:42:33 2006\nReturn-path: &lt;bubulle@debian.org&gt;\n\
        Received: from smtp3-g19.free.fr ([212.27.42.29])\n\tby spohr.debian.org with\
        \ esmtp (Exim 4.50)\n\tid 1GnCyP-0000pc-Ag\n\tfor submit@bugs.debian.org;\
        \ Thu, 23 Nov 2006 03:42:33 -0800\nReceived: from kheops.perrier.eu.org (perrier.eu.org\
        \ [81.56.227.253])\n\tby smtp3-g19.free.fr (Postfix) with ESMTP id AF01D4A143;\n\
        \tThu, 23 Nov 2006 12:42:31 +0100 (CET)\nReceived: from localhost (localhost\
        \ [127.0.0.1])\n\tby kheops.perrier.eu.org (Postfix) with ESMTP id 7766A6B60B;\n\
        \tThu, 23 Nov 2006 12:42:31 +0100 (CET)\nReceived: from kheops.perrier.eu.org\
        \ ([127.0.0.1])\n\tby localhost (kheops [127.0.0.1]) (amavisd-new, port 10024)\n\
        \twith ESMTP id 28950-05; Thu, 23 Nov 2006 12:42:30 +0100 (CET)\nReceived:\
        \ from mykerinos.kheops.frmug.org (mykerinos.kheops.frmug.org [192.168.1.3])\n\
        \tby kheops.perrier.eu.org (Postfix) with ESMTP id 5351D6B60A;\n\tThu, 23\
        \ Nov 2006 12:42:30 +0100 (CET)\nReceived: by mykerinos.kheops.frmug.org (Postfix,\
        \ from userid 1000)\n\tid 405A340BDF3; Thu, 23 Nov 2006 12:42:25 +0100 (CET)\n\
        Content-Type: multipart/mixed; boundary=\"===============1479533737==\"\n\
        MIME-Version: 1.0\nFrom: Christian Perrier &lt;bubulle@debian.org&gt;\nTo:\
        \ Debian Bug Tracking System &lt;submit@bugs.debian.org&gt;\nSubject: libroxen-imho:\
        \ [INTL:fr] French debconf templates translation\nMessage-ID: &lt;20061123114225.2780.2192.reportbug@mykerinos.kheops.frmug.org&gt;\n\
        X-Mailer: reportbug 3.31\nDate: Thu, 23 Nov 2006 12:42:25 +0100\nX-Debbugs-Cc:\
        \ \nX-Virus-Scanned: by amavisd-new-20030616-p10 (Debian) at kheops.frmug.org\n\
        Delivered-To: submit@bugs.debian.org\nX-Spam-Checker-Version: SpamAssassin\
        \ 2.60-bugs.debian.org_2005_01_02 \n\t(1.212-2003-09-23-exp) on spohr.debian.org\n\
        X-Spam-Level: \nX-Spam-Status: No, hits=-8.0 required=4.0 tests=BAYES_00,HAS_PACKAGE\
        \ \n\tautolearn=no version=2.60-bugs.debian.org_2005_01_02</header><attachments\
        \ soapenc:arrayType=\"xsd:anyType[0]\" xsi:type=\"soapenc:Array\" /><msg_num\
        \ xsi:type=\"xsd:int\">5</msg_num><body xsi:type=\"xsd:string\">Package: libroxen-imho\n\
        Version: N/A\nSeverity: wishlist\nTags: patch l10n\n\nPlease find attached\
        \ the french debconf templates update, proofread by the\ndebian-l10n-french\
        \ mailing list contributors.\n\nIf you do not already use it, please remember\
        \ about the\n\"podebconf-report-po\" utility, which helps warning translators\
        \ about\nchanges when you modify some debconf templates in your packages.\
        \ See\nits man page for details.\n\nThe usual policy when using it is sending\
        \ a warning to translators when\nyou plan to upload a version of your package\
        \ with debconf templates\nchanges (EVEN TYPO CORRECTIONS). Then leave about\
        \ one week for them to\nupdate their files (several translation teams have\
        \ a QA process which\nrequires time).\n\npodebconf-report-po will take care\
        \ of sending the translators the\nneeded material as well as getting the translators\
        \ adresses from the\nPO files. All you have to do is just using the utility..:-)\n\
        \nIf you apply this policy, please forget about these remarks, of\ncourse....This\
        \ message is generic..:-)\n\n\n-- System Information:\nDebian Release: 4.0\n\
        \  APT prefers unstable\n  APT policy: (500, 'unstable')\nArchitecture: i386\
        \ (i686)\nShell:  /bin/sh linked to /bin/dash\nKernel: Linux 2.6.18-2-686\n\
        Locale: LANG=fr_FR.UTF-8, LC_CTYPE=fr_FR.UTF-8 (charmap=UTF-8) (ignored: LC_ALL\
        \ set to fr_FR.UTF-8)</body></item><item><body xsi:type=\"xsd:string\">retitle\
        \ 400824 anthy: [INTL:fr] French debconf templates translation update\nretitle\
        \ 400692 apt-listbugs: [INTL:fr] French program translation update\nretitle\
        \ 398886 argus: [INTL:fr] French debconf templates translation update\nretitle\
        \ 393740 atftp: [INTL:fr] French debconf templates translation update[...]
