interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <get_usertag xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>thisisatest@debian.org</arg0></get_usertag>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_usertag"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_usertagResponse
        xmlns="Debbugs/SOAP/"><s-gensym3 /></get_usertagResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
version: 1
