interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <newest_bugs xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>0</arg0></newest_bugs>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Nonenewest_bugs"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><newest_bugsResponse
        xmlns="Debbugs/SOAP/"><soapenc:Array soapenc:arrayType="xsd:anyType[0]" xsi:type="soapenc:Array"
        /></newest_bugsResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <newest_bugs xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>1</arg0></newest_bugs>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Nonenewest_bugs"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><newest_bugsResponse
        xmlns="Debbugs/SOAP/"><soapenc:Array soapenc:arrayType="xsd:int[1]" xsi:type="soapenc:Array"><item
        xsi:type="xsd:int">798044</item></soapenc:Array></newest_bugsResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <newest_bugs xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>10</arg0></newest_bugs>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Nonenewest_bugs"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><newest_bugsResponse
        xmlns="Debbugs/SOAP/"><soapenc:Array soapenc:arrayType="xsd:int[10]" xsi:type="soapenc:Array"><item
        xsi:type="xsd:int">798035</item><item xsi:type="xsd:int">798036</item><item
        xsi:type="xsd:int">798037</item><item xsi:type="xsd:int">798038</item><item
        xsi:type="xsd:int">798039</item><item xsi:type="xsd:int">798040</item><item
        xsi:type="xsd:int">798041</item><item xsi:type="xsd:int">798042</item><item
        xsi:type="xsd:int">798043</item><item xsi:type="xsd:int">798044</item></soapenc:Array></newest_bugsResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
version: 1
