interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <get_bug_log xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>400012</arg0></get_bug_log>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_bug_log"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope\
        \ soap:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:soap=\"\
        http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        ><soap:Body><get_bug_logResponse xmlns=\"Debbugs/SOAP/\"><soapenc:Array soapenc:arrayType=\"\
        xsd:anyType[3]\" xsi:type=\"soapenc:Array\"><item><header xsi:type=\"xsd:string\"\
        >Received: (at submit) by bugs.debian.org; 23 Nov 2006 13:18:39 +0000\nFrom\
        \ henrich@debian.or.jp Thu Nov 23 05:18:37 2006\nReturn-path: &lt;henrich@debian.or.jp&gt;\n\
        Received: from mbox-o00.iijmio.jp ([210.138.144.205])\n\tby spohr.debian.org\
        \ with esmtp (Exim 4.50)\n\tid 1GnETK-00040s-SX\n\tfor submit@bugs.debian.org;\
        \ Thu, 23 Nov 2006 05:18:36 -0800\nReceived: MIO O00 id kANDIVfp016832; Thu,\
        \ 23 Nov 2006 22:18:31 +0900 (JST)\nReceived: from localhost (ne0316lan1.rev.em-net.ne.jp\
        \ [210.254.95.193])\n\tby mbox.iijmio-mail.jp (MMS-MR/mms-r00) id kANDIUFD000262;\n\
        \tThu, 23 Nov 2006 22:18:31 +0900 (JST)\nDate: Thu, 23 Nov 2006 22:18:28 +0900\n\
        From: Hideki Yamane &lt;henrich@debian.or.jp&gt;\nTo: submit@bugs.debian.org\n\
        Subject: xtel: [INTL:ja] Updated Japanese po-debconf template translation\n\
        \ (ja.po)\nMessage-Id: &lt;20061123221828.e7962f8c.henrich@debian.or.jp&gt;\n\
        Organization: Debian JP Project\nX-Mailer: Sylpheed version 2.3.0beta5 (GTK+\
        \ 2.8.20; i486-pc-linux-gnu)\nMime-Version: 1.0\nContent-Type: multipart/signed;\
        \ protocol=\"application/pgp-signature\";\n micalg=\"PGP-SHA1\";\n boundary=\"\
        Signature=_Thu__23_Nov_2006_22_18_28_+0900_fQdVMiA7fSMPysds\"\nDelivered-To:\
        \ submit@bugs.debian.org\nX-Spam-Checker-Version: SpamAssassin 2.60-bugs.debian.org_2005_01_02\
        \ \n\t(1.212-2003-09-23-exp) on spohr.debian.org\nX-Spam-Level: \nX-Spam-Status:\
        \ No, hits=0.1 required=4.0 tests=BAYES_00,RCVD_IN_SBLXBL,\n\tRCVD_IN_SBLXBL_CBL,RCVD_IN_SORBS,RCVD_IN_SORBS_WEB\
        \ autolearn=no \n\tversion=2.60-bugs.debian.org_2005_01_02</header><body xsi:type=\"\
        xsd:string\">Package: xtel\nVersion: 3.3.0-5.4\nSeverity: wishlist\nTags:\
        \ l10n patch\n\nDear xtel maintainer,\n\n Here's updated Japanese po-debconf\
        \ template (ja.po) file that\n reviewed by several Japanese Debian developers\
        \ and users.\n\n Could you apply it, please?\n\n--\nRegards,\n\n Hideki Yamane\
        \     henrich @ debian.or.jp/samba.gr.jp/iijmio-mail.jp</body><attachments\
        \ soapenc:arrayType=\"xsd:anyType[0]\" xsi:type=\"soapenc:Array\" /><msg_num\
        \ xsi:type=\"xsd:int\">5</msg_num></item><item><msg_num xsi:type=\"xsd:int\"\
        >10</msg_num><attachments soapenc:arrayType=\"xsd:anyType[0]\" xsi:type=\"\
        soapenc:Array\" /><body xsi:type=\"xsd:string\">Source: xtel\nSource-Version:\
        \ 3.3.0-5.6\n\nWe believe that the bug you reported is fixed in the latest\
        \ version of\nxtel, which is due to be installed in the Debian FTP archive:\n\
        \nxtel_3.3.0-5.6.diff.gz\n  to pool/main/x/xtel/xtel_3.3.0-5.6.diff.gz\nxtel_3.3.0-5.6.dsc\n\
        \  to pool/main/x/xtel/xtel_3.3.0-5.6.dsc\nxtel_3.3.0-5.6_i386.deb\n  to pool/main/x/xtel/xtel_3.3.0-5.6_i386.deb\n\
        \n\n\nA summary of the [...]
