interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    \n<get_status><arg0 soapenc:arrayType=\"xsd:int[1]\" xmlns:soapenc=\"\
      http://schemas.xmlsoap.org/soap/encoding/\" xsi:type=\"soapenc:Array\"><item\
      \ xsi:type=\"xsd:int\">568657</item></arg0></get_status></soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_status"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachens="http://xml.apache.org/xml-soap"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_statusResponse
        xmlns="Debbugs/SOAP"><s-gensym3 xsi:type="apachens:Map"><item><key xsi:type="xsd:int">568657</key><value><unarchived
        xsi:type="xsd:string" /><id xsi:type="xsd:int">568657</id><pending xsi:type="xsd:string">forwarded</pending><subject
        xsi:type="xsd:string">openjdk-6-jre: crashes while playing freecol</subject><affects
        xsi:type="xsd:string" /><summary xsi:type="xsd:string" /><fixed xsi:type="apachens:Map"><item><key
        xsi:type="xsd:string">openjdk-6/6b20-1.9-1</key><value xsi:nil="true" /></item></fixed><bug_num
        xsi:type="xsd:int">568657</bug_num><originator xsi:type="xsd:string">Timo
        Juhani Lindfors &lt;timo.lindfors@iki.fi&gt;</originator><log_modified xsi:type="xsd:int">1291550233</log_modified><last_modified
        xsi:type="xsd:int">1291550233</last_modified><blocks xsi:type="xsd:int">583692</blocks><mergedwith
        xsi:type="xsd:string" /><found_date soapenc:arrayType="xsd:anyType[0]" xsi:type="soapenc:Array"
        /><severity xsi:type="xsd:string">normal</severity><found_versions soapenc:arrayType="xsd:string[1]"
        xsi:type="soapenc:Array"><item xsi:type="xsd:string">openjdk-6/6b17-1.7-1</item></found_versions><msgid
        xsi:type="xsd:string">&lt;84vdeaffrn.fsf@sauna.l.org&gt;</msgid><blockedby
        xsi:type="xsd:string" /><done xsi:type="xsd:string" /><keywords xsi:type="xsd:string">upstream
        confirmed fixed-upstream</keywords><source xsi:type="xsd:string">openjdk-6</source><location
        xsi:type="xsd:string">db-h</location><archived xsi:type="xsd:int">0</archived><package
        xsi:type="xsd:string">openjdk-6-jre</package><owner xsi:type="xsd:string"
        /><tags xsi:type="xsd:string">upstream confirmed fixed-upstream</tags><fixed_date
        soapenc:arrayType="xsd:anyType[0]" xsi:type="soapenc:Array" /><outlook xsi:type="xsd:string"
        /><forwarded xsi:type="xsd:string">http://icedtea.classpath.org/bugzilla/show_bug.cgi?id=587</forwarded><fixed_versions
        soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><item xsi:type="xsd:string">openjdk-6/6b20-1.9-1</item></fixed_versions><date
        xsi:type="xsd:int">1265476681</date><found xsi:type="apachens:Map"><item><key
        xsi:type="xsd:string">openjdk-6/6b17-1.7-1</key><value xsi:nil="true" /></item></found></value></item></s-gensym3></get_statusResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
version: 1
