interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    <get_bug_log xmlns=\"Debbugs/SOAP/V1\">\n    <arg0>223344</arg0></get_bug_log>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_bug_log"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope\
        \ soap:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:soap=\"\
        http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        ><soap:Body><get_bug_logResponse xmlns=\"Debbugs/SOAP/\"><soapenc:Array soapenc:arrayType=\"\
        xsd:anyType[5]\" xsi:type=\"soapenc:Array\"><item><header xsi:type=\"xsd:string\"\
        >Received: (at submit) by bugs.debian.org; 8 Dec 2003 18:23:07 +0000\nFrom\
        \ joey@kitenet.net Mon Dec 08 12:22:26 2003\nReturn-path: &lt;joey@kitenet.net&gt;\n\
        Received: from kitenet.net [64.62.161.42] \n\tby master.debian.org with esmtp\
        \ (Exim 3.35 1 (Debian))\n\tid 1ATOBD-0006Gm-00; Mon, 08 Dec 2003 10:24:15\
        \ -0600\nReceived: from dragon.kitenet.net (dial248.pm3bloun2.bloun.naxs.com\
        \ [216.98.69.248])\n\t(using TLSv1 with cipher DHE-RSA-AES256-SHA (256/256\
        \ bits))\n\t(Client CN \"Joey Hess\", Issuer \"Joey Hess\" (verified OK))\n\
        \tby kitenet.net (Postfix) with ESMTP id 3079417E94\n\tfor &lt;submit@bugs.debian.org&gt;;\
        \ Mon,  8 Dec 2003 16:24:14 +0000 (GMT)\nReceived: by dragon.kitenet.net (Postfix,\
        \ from userid 1000)\n\tid B98BB6E183; Sun,  7 Dec 2003 22:21:12 -0500 (EST)\n\
        Date: Sun, 7 Dec 2003 22:21:11 -0500\nFrom: Joey Hess &lt;joeyh@debian.org&gt;\n\
        To: Debian Bug Tracking System &lt;submit@bugs.debian.org&gt;\nSubject: debconf-set\
        \ and debconf-get clear the screen\nMessage-ID: &lt;20031208032111.GA24775@kitenet.net&gt;\n\
        Mime-Version: 1.0\nContent-Type: multipart/signed; micalg=pgp-sha1;\n\tprotocol=\"\
        application/pgp-signature\"; boundary=\"ZGiS0Q5IWpPtfppv\"\nContent-Disposition:\
        \ inline\nX-Reportbug-Version: 2.36\nUser-Agent: Mutt/1.5.4i\nDelivered-To:\
        \ submit@bugs.debian.org\nX-Spam-Checker-Version: SpamAssassin \n\t2.60-master.debian.org_2003_11_25-bugs.debian.org_2003_11_20\
        \ \n\t(1.212-2003-09-23-exp) on master.debian.org\nX-Spam-Status: No, hits=-5.0\
        \ required=4.0 tests=HAS_PACKAGE autolearn=no \n\tversion=2.60-master.debian.org_2003_11_25-bugs.debian.org_2003_11_20\n\
        X-Spam-Level: </header><msg_num xsi:type=\"xsd:int\">5</msg_num><body xsi:type=\"\
        xsd:string\">Package: cdebconf\nSeverity: normal\n\nFor some reason cdebconf\
        \ starts its frontend when the debconf-set and\ndebconf-get commands are run.\
        \ Enough to clear the screen anyway. Of\ncourse debconf-get also outputs its\
        \ result to stderr. This could be\nbetter.\n\n-- System Information:\nDebian\
        \ Release: testing/unstable\nArchitecture: i386\nKernel: Linux dragon 2.4.22\
        \ #1 Sun Oct 12 15:11:10 EDT 2003 i686\nLocale: LANG=en_US, LC_CTYPE=en_US\n\
        \n-- \nsee shy jo</body><attachments soapenc:arrayType=\"xsd:anyType[0]\"\
        \ xsi:type=\"soapenc:Array\" /></item><item><body xsi:type=\"xsd:string\"\
        >Of course debconf-get and debconf-set are not part of cdebconf, they are\n\
        in rootskel. Looking at their current implementation, and after spending\n\
        some time last night fixing debconf-get to at least be usable, though,\nit's\
        \ clear to me that their problems can only really be solved by\nwriting them\
        \ to ude the cdebconf library [...]
