interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    \n<get_status><arg0 soapenc:arrayType=\"xsd:int[1]\" xmlns:soapenc=\"\
      http://schemas.xmlsoap.org/soap/encoding/\" xsi:type=\"soapenc:Array\"><item\
      \ xsi:type=\"xsd:int\">486212</item></arg0></get_status></soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_status"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachens="http://xml.apache.org/xml-soap"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_statusResponse
        xmlns="Debbugs/SOAP"><s-gensym3 xsi:type="apachens:Map"><item><key xsi:type="xsd:int">486212</key><value><blocks
        xsi:type="xsd:string" /><tags xsi:type="xsd:string">help</tags><originator
        xsi:type="xsd:string">Riccardo Magliocchetti &lt;riccardo@datahost.it&gt;</originator><done
        xsi:type="xsd:string">Bastian Venthur &lt;venthur@debian.org&gt;</done><unarchived
        xsi:type="xsd:string" /><archived xsi:type="xsd:int">1</archived><id xsi:type="xsd:int">486212</id><msgid
        xsi:type="xsd:string">&lt;20080614122738.9e8c25cf.riccardo@datahost.it&gt;</msgid><keywords
        xsi:type="xsd:string">help</keywords><subject xsi:type="xsd:string">[reportbug-ng]
        segmentation fault on sorting for last action</subject><found_versions soapenc:arrayType="xsd:string[1]"
        xsi:type="soapenc:Array"><item xsi:type="xsd:string">reportbug-ng/0.2008.06.04</item></found_versions><bug_num
        xsi:type="xsd:int">486212</bug_num><source xsi:type="xsd:string">reportbug-ng</source><found_date
        soapenc:arrayType="xsd:anyType[0]" xsi:type="soapenc:Array" /><forwarded xsi:type="xsd:string"
        /><mergedwith xsi:type="xsd:string">486743 488122</mergedwith><date xsi:type="xsd:int">1213439402</date><location
        xsi:type="xsd:string">archive</location><log_modified xsi:type="xsd:int">1218957982</log_modified><fixed_versions
        soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><item xsi:type="xsd:string">reportbug-ng/1.0</item></fixed_versions><blockedby
        xsi:type="xsd:string" /><outlook xsi:type="xsd:string" /><pending xsi:type="xsd:string">done</pending><affects
        xsi:type="xsd:string" /><package xsi:type="xsd:string">reportbug-ng</package><found
        xsi:type="apachens:Map"><item><key xsi:type="xsd:string">reportbug-ng/0.2008.06.04</key><value
        xsi:nil="true" /></item></found><fixed_date soapenc:arrayType="xsd:anyType[0]"
        xsi:type="soapenc:Array" /><owner xsi:type="xsd:string" /><fixed xsi:type="apachens:Map"><item><key
        xsi:type="xsd:string">reportbug-ng/1.0</key><value xsi:nil="true" /></item></fixed><severity
        xsi:type="xsd:string">normal</severity><summary xsi:type="xsd:string" /><last_modified
        xsi:type="xsd:int">1218957982</last_modified></value></item></s-gensym3></get_statusResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    \n<get_status><arg0 soapenc:arrayType=\"xsd:int[1]\" xmlns:soapenc=\"\
      http://schemas.xmlsoap.org/soap/encoding/\" xsi:type=\"soapenc:Array\"><item\
      \ xsi:type=\"xsd:int\">433550</item></arg0></get_status></soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_status"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachens="http://xml.apache.org/xml-soap"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_statusResponse
        xmlns="Debbugs/SOAP"><s-gensym3 xsi:type="apachens:Map"><item><key xsi:type="xsd:int">433550</key><value><forwarded
        xsi:type="xsd:string" /><owner xsi:type="xsd:string" /><location xsi:type="xsd:string">archive</location><affects
        xsi:type="xsd:string" /><found xsi:type="apachens:Map"><item><key xsi:type="xsd:string">reportbug-ng/0.2007.07.12</key><value
        xsi:nil="true" /></item></found><blockedby xsi:type="xsd:string" /><tags xsi:type="xsd:string"
        /><source xsi:type="xsd:string">reportbug-ng</source><originator xsi:type="xsd:string">Gilles
        Mocellin &lt;gilles.mocellin@free.fr&gt;</originator><bug_num xsi:type="xsd:int">433550</bug_num><unarchived
        xsi:type="xsd:string" /><archived xsi:type="xsd:int">1</archived><mergedwith
        xsi:type="xsd:int">433524</mergedwith><found_date soapenc:arrayType="xsd:anyType[0]"
        xsi:type="soapenc:Array" /><log_modified xsi:type="xsd:int">1218958071</log_modified><outlook
        xsi:type="xsd:string" /><pending xsi:type="xsd:string">done</pending><fixed
        xsi:type="apachens:Map"><item><key xsi:type="xsd:string">reportbug-ng/1.0</key><value
        xsi:nil="true" /></item></fixed><blocks xsi:type="xsd:string" /><package xsi:type="xsd:string">reportbug-ng</package><severity
        xsi:type="xsd:string">normal</severity><id xsi:type="xsd:int">433550</id><done
        xsi:type="xsd:string">Bastian Venthur &lt;venthur@debian.org&gt;</done><msgid
        xsi:type="xsd:string">&lt;200707172253.24652.gilles.mocellin@free.fr&gt;</msgid><last_modified
        xsi:type="xsd:int">1218958071</last_modified><fixed_date soapenc:arrayType="xsd:anyType[0]"
        xsi:type="soapenc:Array" /><keywords xsi:type="xsd:string" /><summary xsi:type="xsd:string"
        /><fixed_versions soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><item
        xsi:type="xsd:string">reportbug-ng/1.0</item></fixed_versions><found_versions
        soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><item xsi:type="xsd:string">reportbug-ng/0.2007.07.12</item></found_versions><date
        xsi:type="xsd:int">1184705642</date><subject xsi:type="xsd:string">Loose menu
        by volontary hidding it</subject></value></item></s-gensym3></get_statusResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
[...]
