interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n\
      <soap:Body>\n    \n<get_status><arg0 soapenc:arrayType=\"xsd:int[1]\" xmlns:soapenc=\"\
      http://schemas.xmlsoap.org/soap/encoding/\" xsi:type=\"soapenc:Array\"><item\
      \ xsi:type=\"xsd:int\">486212</item></arg0></get_status></soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"Noneget_status"']
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><soap:Envelope
        soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachens="http://xml.apache.org/xml-soap"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_statusResponse
        xmlns="Debbugs/SOAP"><s-gensym3 xsi:type="apachens:Map"><item><key xsi:type="xsd:int">486212</key><value><tags
        xsi:type="xsd:string">help</tags><source xsi:type="xsd:string">reportbug-ng</source><outlook
        xsi:type="xsd:string" /><originator xsi:type="xsd:string">Riccardo Magliocchetti
        &lt;riccardo@datahost.it&gt;</originator><location xsi:type="xsd:string">archive</location><owner
        xsi:type="xsd:string" /><summary xsi:type="xsd:string" /><forwarded xsi:type="xsd:string"
        /><package xsi:type="xsd:string">reportbug-ng</package><affects xsi:type="xsd:string"
        /><keywords xsi:type="xsd:string">help</keywords><log_modified xsi:type="xsd:int">1218957982</log_modified><id
        xsi:type="xsd:int">486212</id><subject xsi:type="xsd:string">[reportbug-ng]
        segmentation fault on sorting for last action</subject><found xsi:type="apachens:Map"><item><key
        xsi:type="xsd:string">reportbug-ng/0.2008.06.04</key><value xsi:nil="true"
        /></item></found><blockedby xsi:type="xsd:string" /><pending xsi:type="xsd:string">done</pending><last_modified
        xsi:type="xsd:int">1218957982</last_modified><found_date soapenc:arrayType="xsd:anyType[0]"
        xsi:type="soapenc:Array" /><date xsi:type="xsd:int">1213439402</date><found_versions
        soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><item xsi:type="xsd:string">reportbug-ng/0.2008.06.04</item></found_versions><msgid
        xsi:type="xsd:string">&lt;20080614122738.9e8c25cf.riccardo@datahost.it&gt;</msgid><unarchived
        xsi:type="xsd:string" /><done xsi:type="xsd:string">Bastian Venthur &lt;venthur@debian.org&gt;</done><blocks
        xsi:type="xsd:string" /><mergedwith xsi:type="xsd:string">486743 488122</mergedwith><archived
        xsi:type="xsd:int">1</archived><fixed_versions soapenc:arrayType="xsd:string[1]"
        xsi:type="soapenc:Array"><item xsi:type="xsd:string">reportbug-ng/1.0</item></fixed_versions><severity
        xsi:type="xsd:string">normal</severity><fixed xsi:type="apachens:Map"><item><key
        xsi:type="xsd:string">reportbug-ng/1.0</key><value xsi:nil="true" /></item></fixed><fixed_date
        soapenc:arrayType="xsd:anyType[0]" xsi:type="soapenc:Array" /><bug_num xsi:type="xsd:int">486212</bug_num></value></item></s-gensym3></get_statusResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      soapserver: ['SOAP::Lite/Perl/1.11']
      x-clacks-overhead: [GNU Terry Pratchett]
    status: {code: 200, message: OK}
version: 1
